html, body
{
    margin: 0;
    padding: 0;
}

h1 {
text-align:center;
}
#nav > a {
    float: right;
    color: white;
    padding: 0% 0% 0% 0%;
    width: 16%;
      transition-duration: 0.4s;
    }
#nav > a.logo {
    float: left;
    }
    #nav{
    background-color: darkblue;
      text-align: center;
    }
    #nav > a:hover {
    background-color: blue;
    border-radius: 8px;
    }
