html, body
{
    margin: 0;
    padding: 0;
}

h1 {
text-align:center;
}

#nav > a {
    display:block;
    color: white;
    width: 33%;
    padding: 0% auto;
      transition-duration: 0.4s;
    }


    #nav{
    background-color: darkblue;
      text-align: center;
    }
    #nav > a:hover {
    background-color: blue;
    border-radius: 8px;
    }
