html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
}
h1 {
position: absolute;
    top: 50%;
    left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
}
h1, h4 {
text-align:center;
}
.card {
margin: 30px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}
.header {
  position: relative;
    background-color: lime;
    height: 100%;
}
    #nav{
    background-color: darkgreen;
      text-align: center;
        height: 10%;
    }
#nav > a {
    display:inline-block;
    color: white;
    width: 33%;
    padding: 5% auto;
      transition-duration: 0.4s;
    background-color: green;
    margin: 10px 0px 10px 0px;
    height: 80%;
    }



    #nav > a:hover {
    background-color: darkgreen;
    }
